.navbar-nav .nav-item a {
    color: #02244f;
    padding-left: 10px!important;
    padding-right: 10px!important;
}

.navbar-toggler .toggler-icon {
    color: #02244f!important;
    background-color: #02244f!important;
    filter: opacity(1)!important;
}

.navbar-nav .nav-item a:hover {
    color: #02244f;
    background: #02234f25;
    border-radius: 5px;
    text-decoration: none!important;
}

.sticky .navbar-nav .nav-item.active>a {
    color: #02244f;
    font-weight: bold;
}

.services {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: row;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 0 20px #0000000f;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.row:hover>.col-lg-6>.services>.serviceimg>.columimg {
    transform: translateX(-100px);
}

.serviceimg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.columimg {
    height: 200px;
    padding: 10px;
}

.page-about p {
    margin-bottom: 0px!important;
}

.service-icon-gold {
    background: #e6af2e;
    height: 100%;
    padding: 15px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
    border-radius: 50%;
}

.servicescontent {
    margin: 0px 10px;
}

.copyright {
    background: #011229;
}

.tc {
    color: #ffffff44;
    background: #010914;
}

.service-icon-blue {
    background: #02244f;
    height: 100%;
    padding: 15px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
    border-radius: 50%;
}

.footerbg {
    padding: 20px 50px;
    background: #02244f;
    color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerwrapper>div>ul>li>a {
    color: #ffffff55!important;
}

.footerwrapper>div>ul>li>a:hover {
    color: #ffffff!important;
    text-decoration: none!important;
}

.footerwrapper>li>a {
    color: #616161;
}

.footerwrapper>li>a:hover {
    color: #ffffff;
}

.pcards:hover>.portimages {
    transform: scale(1.09);
    transition: 0.3s ease-in-out;
}

.pcards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.portimages {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.mainbt {
    background: #02244f;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    padding: 15px 30px;
    border: none;
    box-shadow: none;
}

.cardshadow {
    box-shadow: #ecebeb 0 0 10px 0;
    border-radius: 6px;
    padding: 30px;
    background: #fff;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
}

.techimg {
    width: 80px;
    min-height: 100px;
    padding: 10px;
}

.sectionimgwrapper {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sectionimg {
    width: 300px;
    height: 300px;
    /* background: #02244f; */
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.techimg_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.techimg_wrapper>.tlogo {
    width: 30%;
}

.techimg_wrapper>.ttools {
    width: 80%;
}

.service-gold {
    background: #e6af2e10;
    padding-top: 60px!important;
    padding-bottom: 60px!important;
}

.service-white {
    background: #ffffff;
    padding-top: 60px!important;
    padding-bottom: 60px!important;
}

.listings {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #02244f;
    background-blend-mode: multiply;
    padding: 100px 0px;
}

.listingswrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listings:hover {
    background-color: #02244f5b;
    transition: 0.5s ease-in-out;
}

video {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.video-container {
    height: 50%;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin: 5px;
}

.video-container-2 {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin: 10px;
}

.boxouter {
    height: 100%;
    width: 50%;
    background: #000000;
}


/* .overlay {
    position: absolute;
    width: 100%;
    height: 30vh;
    background: #02244f;
}

.listings>.overlay:hover {
    background: #02244f2f;
    transition: 0.5s ease-in-out;
} */

.ideasimg {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.aboutsection {
    background-position: center;
    background-size: cover;
    background-image: url("../images/service/pexels-photomix-company-106344.jpg");
    width: 100%;
    height: 400px;
    margin: 1px;
    border-radius: 10px;
}

.wrapperrow {
    box-shadow: 0 0 20px #0000000f;
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.servicesfull {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: row;
    text-align: left;
    /* box-shadow: 0 0 20px #0000000f; */
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.circlegold {
    padding: 10px;
    background: #e6af2e;
    border-radius: 50%;
    color: #fff;
}

.servicesheading {
    visibility: visible;
    color: #282f44;
}

.show .dmenu {
    border: none;
    box-shadow: 0 0 20px #0000000f;
}

.dlist {
    padding: 20px 30px !important;
    color: #000000!important;
}

.dlist:hover {
    color: #ffffff!important;
    background-color: #02244f!important;
}


/* .dropdown:hover>.dropdown-menu {
    display: block;
    transition: 0.5s ease-in-out;
}
.dropdown>.dropdown-toggle:active {
    pointer-events: none;
} */

.copyrightwrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerwrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.socialicons {
    color: rgba(240, 255, 255, 0.212);
    padding: 0px 10px;
}

.centervert {
    display: flex;
    align-items: center;
}

.modalheading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.closebtn {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.aboutcore {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    margin: 1px;
    border-radius: 10px;
}

li.no-bullets {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margins */
}

.faqimage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 961px) {
    .tabcontainer {
        display: flex;
        flex-direction: column;
    }
    .tabcol {
        display: none!important;
    }
    .page-header {
        text-align: center;
    }
    .aboutmob {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px!important;
    }
}

@media (max-width: 767px) {
    .copyrightwrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .servicesfull {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .services {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .navbar-collapse {
        background: #fff!important;
        text-align: center!important;
        border: none!important;
    }
    .videosectionmob {
        height: 300px;
    }
    .service-gold {
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }
    .service-white {
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }
    .navbar-toggler {
        color: #02244f!important;
        display: block!important;
        filter: opacity(1)!important;
        padding: 5px 10px;
    }
    .dmenu {
        text-align: center;
    }
    .navbar-nav .nav-item {
        text-align: center!important;
        margin-bottom: 30px;
        border-top: none!important;
        background: #fff!important;
    }
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 500!important;
        -webkit-box-shadow: 0px 15px 20px 0px rgb(0 0 0 / 10%);
        -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgb(0 0 0 / 10%);
        padding: 10px 15px;
    }
    .row {
        text-align: center;
    }
    .breadcrumb {
        text-align: center!important;
        display: none!important;
        filter: opacity(0);
    }
}

.getdropdown {
    height: 300px;
    overflow: scroll;
    width: 100%;
    padding: 2px 15px!important;
}

.btn-outline-dark {
    font-weight: 300!important;
    display: flex;
    justify-content: space-between;
    color: #a0a0a0!important;
    border-color: #b3b3b3!important;
}

.btn-outline-dark:hover {
    background: transparent!important;
    color: #a0a0a0!important;
}

.servicetab {
    float: left;
    width: 100%;
}

.servicetab button {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    background-color: inherit;
    color: rgba(0, 0, 0, 0.349);
    padding: 22px 16px;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.servicetab button.active {
    font-weight: 800 !important;
    color: #000000 !important;
}

.servicecontent {
    float: left;
    padding: 0px 12px;
    width: 100%;
    height: 100%;
    border-left: none;
    display: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.tabimages {
    max-height: 300px;
}

.tabwrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    display: none;
    color: #02244f;
}

.servicetab button:hover>.linkdummy>.arrow {
    display: block;
    transition: 0.2s ease-in-out;
}

.linkdummy {
    text-decoration: none!important;
    color: rgba(0, 0, 0, 0.349);
    display: flex;
    justify-content: start;
    width: 100%;
}

.servicetab button:hover>.linkdummy {
    font-weight: 800 !important;
    color: #02244f!important;
    transition: 0.2s ease-in-out;
}

.servicetab button:active>.linkdummy {
    font-weight: 800 !important;
    color: #02244f!important;
}